{
    "database": {
        "host": "aawar8adon7s8.cao16ctra0vs.us-east-1.rds.amazonaws.com",
        "user": "contextubot",
        "passwd": "Ieleewoughahg6nabee9ahDeghooqu6D",
        "db": "ebdb"
    }
}
